@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  margin: 0;
  font-family: Poppins;
}

.menubar{
  border: 0;
  width: 100%;
  border: 0;
  border-radius: 0;
  display: block;
  display: flex;
  right: auto;
}